<div id='profile'>
    <img src='/media/images/slide-show-tmp.png' alt='work'/>
    <div class='profile-columm'>
        <h3>HISTORY</h3>
        <p>
            Description of history Description of history Description of history Description of historyDescription of history Description of history
        </p>
    </div>
    <div class='profile-columm'>
        <h3>AWARDS</h3>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
        <p>
            -
        </p>
    </div>
</div>